body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
  padding: 3px;
}

.tbl {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  padding: 10px 0;
}

.tbl label {
  align-self: center;
}